/* ======================================================================================== Tabs 标签页 */
.el-tabs {
    height: 100%;
    --el-tabs-header-height: 36px; /*  tab标签高度 */
}
/* ======================================================================================== Tabs 头部 */
.el-tabs__header {
    margin: 0;
    border: none !important;
    background-color: #fff;
}
.el-tabs__header .el-tabs__nav{
    border: none !important;
} 
/* ======================================================================================== Tabs 内容 */
.el-tabs__content{
    height: calc(100% - var(--el-tabs-header-height)); 
}
/* ======================================================================================== el-tabs__content 子类 */
.el-tab-pane{
    height: 100%; /* 不配置 页面没有高度 */
}

/* ======================================================================================== Tabs 左右按钮 */
.el-tabs__nav-next, .el-tabs__nav-prev {
    background-color: #313131;
    height: var(--el-tabs-header-height);
    width: 22px;
    color: #fff;
    font-size: 18px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
/* ======================================================================================== Tabs 标签 */
.el-tabs__item{
    border: none !important;
    color: #666;
    padding:0 16px !important;
}
/* 选中的标签 */
.el-tabs .is-active{
    background-color: #f2f4f5;
    font-weight: bold;
}
.el-tabs__item:focus-visible {        
    border-radius: 3px;       
    box-shadow: none; /*默认会有蓝色阴影*/     
}
.is-icon-close{
    width: 0 !important;
    height: 96%;
    /* font-size: 1.5rem; */
    position: absolute;
    right: -12px;
}
.is-icon-close:hover{
    background:none !important;
    color: red !important;
}
.el-tabs__item:hover .is-icon-close{
    width: 14px !important;
}
/* .el-tabs{
    --el-text-color-primary:#666;
    --el-border-color-light:#c1c1c1;
} */
/* 标签下边框颜色  --el-bg-color */
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom-color: #f2f2f2;
}